.ItemsModule{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 4%;
  z-index: 1;
  .ItemsModuleContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 2;
    gap: 2em;
    .ItemTypeList{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .Outlet{
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .RightEndWidget{
    width: 100%;
    height: 100%;
  }
}

.activeItemsModule{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .scrollContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .image, .imagePlaceholder{
    width: 100%;
    height: 180px;
    flex-shrink: 0;
    background-color: #57544a;
    color: #b4af9a;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .desc {
      opacity: 0.8;
      line-height: 1.6;
      p {
        margin-bottom: 8px;
      }
    }
  }
  .quantity{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 500;
    color: #57544a;
  }
}