.parent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.WeaponsListContainer{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
  overflow: hidden;

  /* Conteneur pour la Bar + Liste d'armes */
  & > div:first-child {
    width: 450px !important; /* Fixe largeur pour laisser de la place au menu gauche et au détail droite */
    flex-shrink: 0;
  }

  .WeaponsTypeContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    .weaponList{
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      width: 100%;
      padding-left: 60px;
    }
  }
  
  .RightContainer{
    flex: 1; /* Le détail prend tout le reste */
    height: 100%;
    overflow-y: auto; /* SCROLL DÉTAIL */
    overflow-x: hidden;
    min-width: 300px;
  }
}

.ActiveWeaponsContainer{
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  
  .WeaponContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .scrollContent {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 1rem;
    }

    .image{
      width: 100%;
      height: 200px;
      flex-shrink: 0;
      background-color: #57544a;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .descriptionContainer{
      width:100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .years {
        font-weight: 500;
        color: #57544a;
      }
      .descriptionText {
        opacity: 0.8;
        line-height: 1.6;
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
}
